.container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px; /* Reduce the max-width further */
    margin: 0 auto; /* Center the container */
    padding: 1rem; /* Adjust the padding for a more compact layout */
    background: linear-gradient(to right, var(--primary-color), #e0507e);
    border-radius: 10px; /* Optional: Add some rounding to the container */
}

.imageWrapper {
    flex: 1;
    max-width: 40%; /* Adjust the image wrapper size */
    position: relative;
    display: flex;
    justify-content: center;
}

.image {
    width: 100%;
    border-radius: 80px 80px 0 0; /* Curve from the upper side */
    object-fit: cover;
}

.formWrapper {
    flex: 1;
    max-width: 50%;
    padding: 1rem; /* Reduce the padding */
}

h2 {
    font-size: 1.2rem; /* Reduce the font size for better fit */
    margin-bottom: 0.8rem;
    color: var(--white);
}

.formWrapper form {
    display: flex;
    flex-direction: column;
}

.inputField, .textArea {
    margin-bottom: 0.6rem; /* Adjust spacing between fields */
    padding: 0.5rem; /* Slightly reduce padding for smaller size */
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 0.9rem; /* Slightly reduce font size */
    outline: none;
    transition: border 0.3s ease;
}

.inputField:focus, .textArea:focus {
    border-color: #c80956;
}

.textArea {
    height: 70px; /* Reduce the height of the textarea */
    resize: none;
}

.submitButton {
    padding: 0.5rem; /* Adjust button padding */
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 600;
    font-size: 1.2rem; /* Reduce font size */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #ff5f5f;
    box-shadow: var(--box-shadow);
    transform: 0.2s;
}
