


  .registerContainer {
    height: auto;
    width: 550px;
  /* background: linear-gradient(to bottom , rgba(0, 0, 0, 0.473),white); */
    /* background-color: var(--primary-color); */
  
        
    border-radius: 15px;
    margin: 2rem auto;
    padding: 2rem;
    color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
                rgba(0, 0, 0, 0.12) 0px -12px 30px, 
                rgba(0, 0, 0, 0.12) 0px 4px 6px, 
                rgba(0, 0, 0, 0.17) 0px 12px 13px, 
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .title {
    text-align: center;
    font-family: "Moderustic", sans-serif;
    color: var(--primary-color);
    font-size: 2em;
    font-weight: 700;
  }

  .registerContainer>pre>p{
    width: 100%;
    text-align: center;
  }

  .btn {
    height: 7vh;
    width: 15vw;
    box-shadow: var( --box-shadow);
    border-radius: 15px;
    border: none;
    margin: 2rem auto;
    display: block;
    cursor: pointer;
  }
  .btn:hover{
     transform: scale(1.1);
     color: white;
     background-color: var(--primary-color);
     transition: 0.5s;
  }
  .inputContainer {
    position: relative;
    height: 50px;
    line-height: 50px;
    margin: 2rem auto;
    font-family: "Moderustic", sans-serif;
    width: 100%;
  }
    
  .input {
    position: absolute;
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 0 30px;
    line-height: 50px;
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    background: transparent;
    transition: 0.2s ease;
    z-index: 10;
  }
  
  .textfield {
    position: absolute;
    font-size: 15px;
    color: black;
    padding: 0 5px;
    margin: 0 20px;
    transition: 0.2s ease;
    pointer-events: none;
  }
 
  
  .input:focus + .textfield,
  .input:not(:placeholder-shown) + .textfield {
    /* color: white; */
    transform: translate(-15px, -20px) scale(0.88);
    z-index: 20;
    line-height: 30px;
    height: auto;
    background-color: var(--primary-color);
  }
  .forgetpassword{
    text-align: center;
    color: var(--primary-color);
  }
  /* Mobile Responsiveness */
  @media screen and (max-width: 768px) {
    .registerContainer {
      padding: 2rem 1rem;
      max-width: 90%;
    }
  
    .inputContainer {
      margin: 1rem auto;
      width: 100%;
    }
  
    .btn {
      width: 100%;
      margin: 1rem auto;
    }
  
    .input {
      padding: 0 15px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .registerContainer {
      padding: 1.5rem 1rem;
      max-width: 90%;
    }
  
    .inputContainer {
      margin: 1rem 0;
    }
  
    .btn {
      width: 100%;
      height: 45px;
    }
  
    .input {
      padding: 0 10px;
      font-size: 14px;
    }
  
    .textfield {
      font-size: 14px;
    }
  }
  